.container{
    font-size: 1.125rem;
    color: #707070;
    max-width: 980px;
    width: 95%;
    margin: 0 auto;
    /* background-color: pink; */
}
h1{
    font-size: 3rem;
    color: #312614;
    text-align: center;
}
h1 span{
    color: #b7832f;
}

.columns{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5em 0;
    text-align: justify;
}
.col-1{
    width: 20%;
}
.col-2{
    width: 45%;
}
.col-accent{
    background-color: #312614;
    color: #fff;
    padding: 1em;
}
.col-3{
    width: 69%;
}
@media (max-width: 600px){
    .columns{
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
}
