.container{
    font-size: 1.125rem;
    color: #707070;
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    color: #312614;
    text-align: center;
}
h1 span{
    color: #b7832f;
}

.columns{
    display: flex;
}
.col{
    margin: 0.5em;
    text-align:justify;
    
}
.col-accent{
    background-color: #312614;
    color: #fff;
    padding: 1em;
}


